#canvas-container {
    width: 100%;
    text-align:center;
 }
 
 canvas {
    display: inline;
 }
 
 h1 {
    font: bold;
    color: #06afe3;
 }

 p {
    color: #06afe3;
 }

 body {
    background-color: white;
 }